<listView>
    <owner class="hudson" reference="../../.."/>
    <name>UAT</name>
    <filterExecutors>false</filterExecutors>
    <filterQueue>false</filterQueue>
    <properties class="hudson.model.View$PropertyList"/>
    <jobNames>
    <comparator class="java.lang.String$CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
    <string>UAT-Frontend</string>
    <string>UAT-Server</string>
    </jobNames>
    <jobFilters/>
    <columns>
    <hudson.views.StatusColumn/>
    <hudson.views.WeatherColumn/>
    <hudson.views.JobColumn/>
    <hudson.views.LastSuccessColumn/>
    <hudson.views.LastFailureColumn/>
    <hudson.views.LastDurationColumn/>
    <hudson.views.BuildButtonColumn/>
    <hudson.plugins.favorite.column.FavoriteColumn plugin="favorite@2.221.v19ca_666b_62f5"/>
    </columns>
    <recurse>false</recurse>
</listView>