[Unit]
Description=Jenkins Agent Service
After=network.target

[Service]
User=jenkins
Group=jenkins
ExecStart=/usr/bin/java -jar {{ jenkins_agent_jar_location }} \
          -url http://{{ jenkins_master_hostname }}:{{ jenkins_http_port }} \
          -secret @{{ jenkins_home }}/secret.key \
          -name {{ inventory_hostname }} \
          -webSocket
WorkingDirectory={{ jenkins_home }}
Restart=always
RestartSec=10
StandardOutput=append:{{ jenkins_home }}/logs/jenkins-agent.log
StandardError=append:{{ jenkins_home }}/logs/jenkins-agent.err
Environment="JENKINS_HOME={{ jenkins_home }}"

[Install]
WantedBy=multi-user.target
