<slave>
  <name>{{ inventory_hostname }}</name>
  <description>Worker Node</description>
  <remoteFS>{{ jenkins_home }}</remoteFS>
  <numExecutors>2</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.slaves.JNLPLauncher"/>
  {% if roles is defined and roles | length > 0 %}
  <label>{{ roles | join(' ') }}</label>
  {% else %}
  <label>worker</label>
  {% endif %}
  <nodeProperties/>
</slave>